<div class="wrapper-white">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="main-container" id="about">
        <h2>Hello 👋</h2>
        <p>I’m Carlos, and I’m a Front-end Web Developer with deep experiential knowledge in social entrepreneurship and management.</p>
        <p></p>
      </div>
    </div>
  </div>
</div>
