<div class="wrapper-white">
  <div class="row">
    <div class="col-12">
      <div class="main-container" id="about">
        <h2>Hello 👋</h2>
        <p>I'm a web developer and founder of Fundación En Vía. Currently living in Tokyo, but originally from Oaxaca, Mexico</p>
        <p>If you are interested in my story, you can check this out:</p>
      </div>
    </div>
  </div>
</div>
