<div class="wrapper-white">
  <div class="row">
    <div class="col-12">
      <div class="main-container" id="projects" style="margin-bottom: 0;background-color: transparent;padding-bottom: 0">
        <h2>Projects</h2>
        <p>This is a list of healthy mix of personal and professional projects.</p>
      </div>
    </div>
  </div>
</div>
  