<div class="row justify-content banner">
  <div class="col-12 d-flex flex-column justify-content align-items-right h-100">
    <h1 class="title-main"> Carlos</h1>
    <%= image_tag "profile-picture.jpg", alt: "carlos_photo", class 'avatar-large-square my-1 ' %>
  </div>
</div>
